<h3>This is your <%= "#{@spirit.name}" %> show page. </h3>
<%= @spirit.name %>


<br>

<%= link_to "Delete", spirit_path(@spirit), class: "btn", data: { "turbo-method": :delete, confirm: "Are you sure?" } %>
<%= link_to "Edit your spirit", edit_spirit_path, class: "btn"%>
